.profiles {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.charts {
  display: flex;
  width: 100%;
  height: 100%;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chart {
  cursor: pointer;
  position: relative;
  width: 240px;
  height: 240px;
  transition: 1s transform;
  /*transition-timing-function: cubic-bezier(0.305, -0.350, 0.655, 1.395);*/
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.chart:hover {
  transform: scale(1.15) !important;
}


.col:nth-child(2) .chart {
  transition-delay: .1s;
}

.col:nth-child(3) .chart {
  transition-delay: .2s;
}

.chartRace {
  composes: chart;
  transform: translate(0, 53vh);
}

.chartResults {
  composes: chart;
  transform: translate(0, -35vh);
}

.profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.radialChart {
  width: 100%;
  height: 100%;
}

.radialChartTransition {
  position: absolute;
  width: 100%;
  height: 100%;
}

.summaryTransition {
  position: absolute;
  top: 0;
  left: 0;
}

.email {
  text-align: center;
  transform: translate(0, -80px);
}

.summaryWrapper {
  position: relative;
}

.summary {
  position: absolute;
  top: 15px;
  left: 0;
  min-width: 320px;
  transform: translate(150px, 0);
}

.summaryTitle {
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
}

.summarySentence {
  margin-top: 5px;
  font-size: 18px;
}

@media only screen and (min-width: 1024px) {
  .profiles {
    display: block;
  }
}