<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Titles</title>
  </head>

  <style>

    body {
      margin: 0;
      font-family: Roboto, Arial, sans-serif;
    }

    img {
      width:168px;
      height:auto;
      float: left;
    }

  </style>

  <body style="margin:0">
    <ol>
    {% for s in snapshots %}
      <li>{{ s }}</li>
    {% endfor %}
    </ol>
  </body>
</html>
