.profile {
	position: relative;
	overflow: hidden;
	padding: 20px;
}

.titleWrapper {
	max-width: 620px;
  font-size: 16px;
}

.titleWrapper h2 {
	font-family: 'decima mono', monospace;
	font-size: 24px;
}

.titleWrapper h3,
.titleWrapper h4 {
	font-size: 16px;
	font-weight: normal;
}

.titleWrapper h4 {
	margin: 40px 0 -30px;
}

.thumbsWrapper {
	padding: 50px 0;
}

.thumbs {
	width: 100%;
	margin: -5px 0;
}

.image {
	width: 100%;
	height: auto;
}

.backButtonWrapper {
  position: relative;
  width: 100%;
  margin: 80px auto 80px;
  text-align: center;
}

.header {
	display: flex;
	flex-direction: column;
}

.profileImage {
	margin-right: 20px;
  width: 67px;
  height: 67px;
  background-size: cover;
  border-radius: 50%;
}

.link {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
	.profile {
		padding: 20px;
	}
	
	.header {
		flex-direction: row;
	}
}