.menu {
	position: relative;
	z-index: 2;
	display: flex;
	margin: 0;
	padding: 10px 20px;
	list-style-type: none;
}

.link {
	margin-left: 20px;
	text-decoration: none;
	color: white;
}

.activeLink {
	composes: link;
	text-decoration: underline;
}