.menuWrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.logoLink {
	text-decoration: none;
	color: inherit;
}

.logo {
	position: relative;
	font-family: 'decima mono', monospace;
	font-size: 21px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.logo:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid white;
	transform: translate(-68%, -15%);
}

.logo span {
	margin: 0 10px;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 10px 20px;
	list-style-type: none;
}

.link {
	text-decoration: none;
	color: white;
}

.activeLink {
	composes: link;
	text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
	.menuWrapper {
		flex-direction: row;
		padding: 20px 40px;
	}

	.link {
		margin-left: 20px;
	}
}