.backButtonWrapper {
	position: relative;
	width: 100%;
	margin: -40px auto 40px;
	text-align: center;
}

.backButton {
	padding: 10px 40px 10px 30px;
	color: white;
	text-transform: uppercase;
	border: 1px solid white;
	text-decoration: none;
	transition: color .3s, background-color .3s;
}

.backButton:hover {
	color: black;
	background-color: white;
}