.raceChart {
  margin: 20px;
}

.viz {}

.agents {
  display: flex;
}

.agent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.agent {
  flex: 0 0 300px;
  min-width: 300px;
  padding: 10px 20px;
  color: #333;
}

.link {
  margin-right: 20px;
  color: #666;
}
