.chart {
  display: flex;
  width: 100%;
  height: 200vh;
}

.col {
  flex: 33% 0 0;
}

.innerCol {
  width: 100%;
  height: 100%;
  min-width: 600px;
  padding: 0 150px;
  box-sizing: border-box;
}

.svg {
  width: 100%;
  height: 100%;
}

.progress {
  stroke: red;
  fill: none;
}

.tooltip {
  position: absolute;
  width: 300px;
  padding: 20px;
  list-style-type: none;
  background: gray;
  color: black;
  border: 1px solid black;
  pointer-events: none;
  transform: translate(100px, 0);
  z-index: 100;
  pointer-events: none;
}


.thumbs {
  position: absolute;
  top: 0;
  left: 0;
}

.thumb {
  position: absolute;
  width: 100px;
  height: auto;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}
