.chart {
  display: flex;
  width: 100%;
  height: 1580px;
}

.col {
  flex: 33%;
}

.svg {
  width: 100%;
  height: 100%;
}

.progress {
  stroke: red;
  fill: none;
}

.tooltip {
  position: absolute;
  width: 300px;
  background: white;
  border: 1px solid gray;
  padding: 10px 20px;
  transform: translateY(-50%);
  list-style-type: none;
  padding: 20;
  margin: 0;
  pointer-events: none;
}

.thumbs {
  position: absolute;
  top: 0;
  left: 0;
}

.thumb {
  position: absolute;
  width: 100px;
  height: auto;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}
