.tasks {}

.lists {
  display: flex;
  margin: 20px;
}

.agent {
  color: #999;
}

.task {
  display: flex;
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #666;
  font-size: 12px;
  color: #999 !important;
  text-decoration: none !important;
}

.task > div {
  padding: 10px 10px 10px 0px;
}

.task a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.metric {
  margin-top: 5px;
  color: #666;
}

.metric > span {
  margin-right: 5px;
}

.lists ul {
  margin: 0;
  margin-right: 25px;
  padding: 0;
}

.thumbnail {
  display: block;
  width: 168px;
  height: auto;
}

