.tree {
  position: relative;
  width: 100%;
  height: 100%;
}

.chart {
  position: absolute;
  width: 240px;
  height: 240px;
}

.viz {
  position: relative;
  height: calc(100% - 130px);
}

.thumbs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
}

.itemRight {
  composes: item;
  flex-direction: row-reverse;
}

.itemCol {
  width: 33.33333%;
  flex: 33.333333% 0 0;
}

.image {
  position: relative;
  width: auto;
  height: 100%;
  z-index: 10;
}
/*
.title {
  position: absolute;
  top: 50%;
  left: -20%;
  margin: 5px;
  text-shadow: 0px 2px 4px #000000;
  transform: translate(0, -50%);
  width: 60%;
  background-color: rgba(0,0,0, .5);
  padding: 10px 20px;
  font-size: 14px;
}*/

.title {
  display: block;
  width: 100%;
  margin-top: 0px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.graphics {
  position: relative;
  width: 100%;
  height: 100%;
}

.line {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  border: 1px solid black;
  transform: translate(-50%, 0);
}

.lineRight {
  composes: line;
  transform: translate(50%, 0);
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border: 4px solid black;
  font-weight: bold;
  border-radius: 50%;
  font-size: 20px;
}

.svgWrapper {
  position: absolute;
  width: 10000px;
  height: 100%;
  top: 0;
  left: 50%;
  pointer-events: none;
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.svgFlipped {
  composes: svg;
  transform: rotate(90deg) scaleY(-1);
}

.progress {
  fill: #FBB03B;
  fill-opacity: .3;
  stroke-dasharray: 10,10;
  stroke-width: 2;
}


.profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.radialChart {
  width: 100%;
  height: 100%;
}

/**
 * TRANSITIONS
 */

.exampleEnter {
  opacity: 0.01;
}

.exampleEnter.exampleEnterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exampleLeaveActive {
  opacity: 1;
}

.exampleLeave.exampleLeaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/*
.exampleEnter .itemCol {
  transition: 50s all;
  transform: translate(100px, 0);
}

.exampleEnterActive .itemCol {
  transform: translate(0, 0);
}
*/
