.about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  position: relative;
}

.content {
  position: relative;
  z-index: 3;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about p {
  width: 100%;
  max-width: 620px;
  line-height: 1.4;
}

.about a {
  color: white;
}

.backButtonWrapper {
  position: relative;
  width: 100%;
  margin: 20px auto 20px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .about {
    padding-top: 220px;
    align-items: center; 
  }
}