.about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  position: relative;
}

.title {
  font-family: "decima mono", monospace;
  margin-bottom: 20px;
}

.about p {
  width: 100%;
  max-width: 620px;
  line-height: 1.4;
}

.about a {
  color: white;
}
