.highlights {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: white;
  color: black;
}

.highlightsBlack {
  composes: highlights;
  background: radial-gradient(ellipse at center, #323232 0%,#111111 61%);
  color: white;
}

.highlights ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.highlights li {
  margin-bottom: 10px;
}

.highlights a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.highlightsBlack a {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.date {
  color: #777;
}
