.ipad {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: black;
  color: white;
}

.title {
  margin: 0 20px;
  padding: 5px 0;
  text-align: left;
  font-size: 20px;
}

/**
 * TRANSITIONS
 */

.exampleEnter {
  opacity: 0.01;
}

.exampleEnter.exampleEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
  transition-delay: 150ms;
}

.exampleLeaveActive {
  opacity: 1;
}

.exampleLeave.exampleLeaveActive {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
