.landing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: white;
  color: black;
}

.title {
  max-width: 500px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -5px;
}

.keywordTitle {
  composes: title;
  max-width: 550px;
}

.subtitle {
  max-width: 500px;
  text-align: center;
}

.link {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  color: #666;
  text-align: center;
  font: inherit;
  text-decoration: none;
  border: 1px solid #666;
  box-sizing: border-box;
  background-color: white;
}

.link:active {
  border: 1px solid #FF5822;
  background-color: #FF5822;
  color: white;
}

.form {
  max-width: 320px;
  margin: 50px auto;
  text-align: center;
  border-bottom: 1px solid #666;
}

.input {
  width: 260px;
  margin: 0 auto;
  padding: 10px 0px;
  border: 0;
  font-size: 16px;
  outline: 0;
}

.highlightLink {
  composes: link;
  padding: 20px 20px;
  background-color: #FF5822;
  border: 1px solid #FF5822;
  color: white;
}

.highlightLink:active {
  border: 1px solid #05ACB4;
  background-color: #05ACB4;
  color: white;
}

.textLink {
  padding-bottom: 2px;
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #666;
}

.formWrapper {
  width: 100%;
}

.keywords {
  display: flex;
  flex-flow: column wrap;
  max-width: 600px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  text-decoration: underline;
}

.keyword {
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.iconLink {
  border: 0;
  background-color: white;
}

.icon {
  width: 24px;
  height: 24px;
}
