.landing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: white;
  color: black;
}

.title {
  max-width: 500px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  max-width: 500px;
  text-align: center;
}

.link {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 20px;
  color: #666;
  text-align: center;
  font: inherit;
  text-decoration: none;
  border: 1px solid #666;
  box-sizing: border-box;
  background-color: white;
}

.form {
  margin: 50px auto;
  text-align: center;
}

.input {
  width: 260px;
  margin: 0 auto;
  padding: 10px 20px;
}

.highlightLink {
  composes: link;
  font-size: 30px;
  background-color: #FF5822;
  border: 1px solid #FF5822;
  color: white;
}

.textLink {
  padding-bottom: 2px;
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #666;
}

.keywords {
  display: flex;
  flex-flow: column wrap;
  width: 600px;
  height: 200px;
}

.keyword {
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
