.highlights {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  position: relative;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about p {
  width: 100%;
  max-width: 500px;
  line-height: 1.4;
}

.backButtonWrapper {
  position: relative;
  width: 100%;
  margin: 20px auto 20px;
  text-align: center;
}

.content {
  max-width: 620px;
  margin: 0px auto 60px;
  font-size: 16px;
}

.content h3 {
  font-weight: normal;
}

.links {
  margin-top: 40px;
}

.links a {
  margin-bottom: 5px;
  display: block;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .highlights {
    padding-top: 220px;
    align-items: center; 
  }
}