.app {
  overflow-y: auto;
  /*overflow-x: hidden;*/
  width: 100%;
  height: 100%;
  font-family: decima mono,monospace;
  background: radial-gradient(ellipse at center, #323232 0%,#111111 61%);
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, :global(#app) {
  width: 100%;
  height: 100%;
}
