.home {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  min-height: 800px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.titleWrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.profileCol {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 33.3333% 0 0;
  width: 33.3333%;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translate(0, 200px);
}

.totalContent {
  max-width: 400px;
  font-size: 24px;
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 120px auto 100px;
  font-size: 16px;
}

.links {
  text-anchor: left;
}

.links a {
  margin-bottom: 5px;
  display: block;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .home {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transform: translateY(100px);
  }

  .content {
    margin-top: 300px;
  }
}
